[Desktop Entry]
Name=Sistem Temizleyici
Comment=Sisteminizi gereksiz dosyalardan temizleyin
Exec=pardus-system-cleaner
Icon=pardus-system-cleaner
Terminal=false
Type=Application
Categories=System;Settings;
Keywords=cleaner;system;clean;temizlik;
StartupNotify=true
